ul {
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	background: url(image1.png);
	height: 102px;
}
 header h1{
	height: 37px;
	width: 180px;
	float: left;
	margin: 32px 0px 0px 375px;
}
nav{
	float:left;
	
}
nav li{
	float: left;
	margin: 42px 77px 0px 123px;

	}
	nav li a{
		color: #2a71b7;
	}